# סביבת עבודה והגדרות אישיות
.env
bot/.env

# מסד נתונים
bot/database/*.db

# קבצי לוג
*.log
*.err
bot.log
bot.err

# קבצי טסט זמניים
test_ws.py

# קבצי מטמון של פייתון
__pycache__/
*.pyc

# הגדרות עריכה
.vscode/
.idea/